# Supabase API Credentials
# Dapatkan nilai ini dari Dashboard Supabase: Project Settings -> API
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here

# ID Keluarga untuk membedakan data Ayah & Ibu
NEXT_PUBLIC_FAMILY_ID=family_123
